<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<!-- 商品管理 -->
{if $ur_here eq '商品列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1788.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加新商品'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1790.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑商品信息'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1790.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '复制商品信息'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1790.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品分类'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1688.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加分类'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1688.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '用户评论'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1787.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '评论详情'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1787.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品品牌'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1786.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加品牌'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1786.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑品牌记录'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1786.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品类型'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1785.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '新建商品类型'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1785.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑商品类型'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1785.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品回收站'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1789.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '图片批量处理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1784.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品批量上传'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1677.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品批量导出'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1783.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品批量修改'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1782.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '生成商品代码'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1781.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '标签列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-261.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加标签'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-261.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '虚拟商品列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-259.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '更改加密串'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1780.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品自动上下架'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1779.html"><img src="images/jnsy.png"></a></span>


<!-- 促销管理 -->
{elseif $ur_here eq '夺宝奇兵'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1791.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加夺宝奇兵'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1791.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1791.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑红包类型'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1791.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '红包类型'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1798.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加红包类型'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1798.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '红包列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1798.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '商品包装'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3418.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加新包装'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3418.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑包装'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3418.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '祝福贺卡'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3419.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加新贺卡'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3419.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑贺卡'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3419.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '团购活动列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1804.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加团购活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1804.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '专题管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1560.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '拍卖活动列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2131.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加拍卖活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2131.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑拍卖活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2131.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '优惠活动列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3421.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加优惠活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3421.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑优惠活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3421.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '批发方案列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2125.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加批发方案'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2125.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑批发方案'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2125.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '超值礼包'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3423.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加超值礼包'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3423.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑超值礼包活动'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3423.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '积分商城商品列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3424.html"><img src="images/jnsy.png"></a></span>


<!-- 订单管理 -->
{elseif $ur_here eq '订单列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3425.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '订单信息'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3425.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '订单查询'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3426.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '合并订单'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3427.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑订单打印模板'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3428.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '全部缺货登记信息'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3429.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加订单'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3430.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '发货单操作：生成发货单'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3425.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '发货单操作：查看'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3431.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '发货单列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3431.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '退货单列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2219.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '退货单操作：查看'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2219.html"><img src="images/jnsy.png"></a></span>


<!-- 广告管理 -->
{elseif $ur_here eq '广告列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-15.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加广告'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1589.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑广告'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1589.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '广告位置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-15.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加广告位'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-15.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑广告位'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-15.html"><img src="images/jnsy.png"></a></span>


<!-- 报表统计 -->
{elseif $ur_here eq '流量分析'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3433.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '客户统计'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3435.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '订单统计'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3437.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '销售概况'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3439.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '会员排行'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3441.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '销售明细'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3443.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '搜索引擎'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3445.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '销售排行'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3447.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '访问购买率'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3452.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '站外投放JS统计'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3455.html"><img src="images/jnsy.png"></a></span>


<!-- 文章管理 -->
{elseif $ur_here eq '文章分类'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1558.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加文章分类'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1558.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '文章分类编辑'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1558.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '文章列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1476.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加新文章'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1476.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑文章内容'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1476.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '文章自动发布'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3458.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '在线调查列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1577.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加调查主题'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1577.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑调查'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1577.html"><img src="images/jnsy.png"></a></span>


<!-- 会员管理 -->
{elseif $ur_here eq '会员列表'}
<!-- <span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href=""><img src="images/jnsy.png"></a></span> -->

{elseif $ur_here eq '添加会员'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3460.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑会员账号'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3459.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '收货地址'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3459.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '会员帐户变动明细'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3459.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '调节会员帐户'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3459.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '会员等级'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1658.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加会员等级'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1658.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '会员整合'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-248.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '会员留言'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3461.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '充值和提现申请'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3468.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加申请'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3468.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑申请'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3468.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '资金管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3469.html"><img src="images/jnsy.png"></a></span>


<!-- 权限管理 -->
{elseif $ur_here eq '管理员列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3470.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加管理员'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3470.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑管理员'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3470.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '管理员日志'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3471.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '角色管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3473.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加角色'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3473.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '修改角色'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3473.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '办事处列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2101.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加办事处'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2101.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑办事处'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2101.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '供货商列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2102.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加供货商'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2102.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑供货商'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2102.html"><img src="images/jnsy.png"></a></span>


<!-- 系统设置 -->
{elseif $ur_here eq '商店设置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1685.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '会员注册项设置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3530.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加会员注册项'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3530.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '支付方式'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3476.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑支付方式'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3476.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '配送方式'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3483.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '邮件服务器设置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1550.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '地区列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3488.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '计划任务'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3491.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '友情链接列表'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3495.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加新链接'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3495.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '验证码设置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1821.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '文件权限检测'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3499.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '文件校验'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-1820.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '首页主广告管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-31.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '添加图片广告'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-31.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '编辑图片广告'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-31.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '自定义导航栏'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3496.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '站点地图'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3501.html"><img src="images/jnsy.png"></a></span>


<!-- 模板管理 -->
{elseif $ur_here eq '模板管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3502.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '设置模板'}
<!-- <span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href=""><img src="images/jnsy.png"></a></span> -->

{elseif $ur_here eq '库项目管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3507.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '语言项编辑'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3508.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '备份模板设置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3509.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '邮件模板'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3510.html"><img src="images/jnsy.png"></a></span>


<!-- 数据库管理 -->
{elseif $ur_here eq '数据备份'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-32.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '数据表优化'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3511.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq 'SQL查询'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-17.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '体验数据清除'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3512.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '转换数据'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3513.html"><img src="images/jnsy.png"></a></span>


<!-- 推荐管理 -->
{elseif $ur_here eq '推荐设置'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3515.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '分成管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-2371.html"><img src="images/jnsy.png"></a></span>


<!-- 邮件群发管理 -->
{elseif $ur_here eq '关注管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3517.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '邮件订阅管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3518.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '杂志管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article-3520.html"><img src="images/jnsy.png"></a></span>

{elseif $ur_here eq '邮件队列管理'}
<span class="help_sub"><a target="_blank" title="{$ur_here}帮助文档" href="http://help.ecmoban.com/article_cat-31.html"><img src="images/jnsy.png"></a></span>

{/if}
